* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: system-ui, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ff007f, #7f00ff, #00f0ff);
    background-attachment: fixed;
    gap: 12px;
}

/* Main boxes */
.dashboard {
    width: 720px;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 30px;
    border-radius: 9px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    background-color: white;
}


h2 {
    margin: 0;
    text-align: center;
    font-weight: bold;
    padding-bottom: 25px;
}

/* Buttons */
#quoteBtn {
    width: 105px;
    height: 52px;
    margin: 0;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #3498db;
    font-size: 18px;
    color: white;
}

#quoteBtn:hover {
    background-color: #3db2ff;
}

/* Quote */
#quoteText {
    margin: 0;
    text-align: center;
    color: black;
    font-size: large;
    font-weight: bolder
}

.quoteCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

#quoteBtn {
    width: 105px;
    height: 52px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #3498db;
    font-size: 18px;
    color: white;
}
